#timer {
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

.card {
    max-width: 960px;
    margin: auto;
    margin-top: 50px;
}

.questionBtn {
    padding: 10px;
    margin-top: 10px;
}

#quizCard {
    visibility: hidden;
}